.usarTuVoozParrafo {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}


.usarTuvoozImagen {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}

.pdfTuVooz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: 0 auto;
}

.descargarPdf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    /* Permite que el botón se ajuste al tamaño del contenido */
    max-width: 90%;
    /* Asegura que el botón no ocupe más del 90% del ancho */
    padding: 0.8em 1.2em;
    border-radius: 25px;
    background: linear-gradient(to bottom, #563afae6 0%, #6195e1 100%);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    white-space: nowrap;
    /* Evita saltos de línea */
    overflow: hidden;
    /* Evita que el contenido se desborde */
}

/* Estado inicial del enlace */
a.descargarPdf {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

/* Hover */
a.descargarPdf:hover {
    color: #d9d1d1;
    background-color: #e8f0fe;
    text-decoration: underline;
}

/* Active (click) */
a.descargarPdf:active {
    color: #d9bfed;
    background-color: #c8dafc;
}

/* Media queries para hacerlo responsive */

/* Pantallas grandes (desktops) */
@media (min-width: 1200px) {
    .descargarPdf {
        width: auto;
        padding: 1em 1.5em;
        font-size: 1rem;
        /* Ajustar el tamaño de fuente */
    }
}

/* Pantallas medianas (tablets) */
@media (max-width: 1199px) and (min-width: 768px) {
    .descargarPdf {
        width: auto;
        padding: 0.7em 1em;
        font-size: 0.9rem;
    }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .descargarPdf {
        width: 80%;
        /* Ajusta el botón a 80% del contenedor */
        padding: 0.6em 0.8em;
        font-size: 0.8rem;
    }
}

/* Pantallas muy pequeñas (móviles muy pequeños) */
@media (max-width: 480px) {
    .descargarPdf {
        width: 90%;
        /* Más ancho en pantallas pequeñas */
        padding: 0.5em 0.6em;
        font-size: 0.7rem;
    }
}