/*Ajustar el tamaño de la pagina*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 100%, rgba(86, 58, 250, 0.9) 0%), url("../img/Onda3.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden; /* Evita que el contenido se desborde */

    font-family: "Poppins", sans-serif;
}




.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.formulario{
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para las columnas */
.left-column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*Estilo para el contenido*/
/*Estilos para el formulario y sus elemntos*/
.fauguet {
  width: 30rem;
  border-radius: 20px;
  background-color: #fff;
  height: 32rem;
}

.tituloCrearCuenta{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.tituloCrearCuenta > h1{
  margin: 0;
}

.formularioCrearCuenta{
  display: flex;
  width: 100%;
  padding-top: 15px;
  flex-direction: column;
}

.labelFormulario{
  display: flex;
  width: 100%;
  padding-left: 3rem;
}

.inputFormulario {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative; /* Asegura que el contenedor sea relativo para el posicionamiento absoluto del ícono */
}

.form-control {
  width: 70%;
  padding: 8px 40px 8px 8px; /* Ajusta el padding derecho para dar espacio al ícono */
  border: 1px solid #fff; /* Borde blanco por defecto */
  border-radius: 10px;
  background-color: #e5e4e4;
}

.toggle-password {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%; /* Alinea verticalmente en el centro */
  right: 60px; /* Ajusta la distancia desde el borde derecho del input */
  transform: translateY(-50%); /* Ajusta para que esté centrado verticalmente */
  color: #000; /* Color del ícono */
}

/* Asegurarse de que las clases de validación sobrescriban el borde */


/* Cambio de color externo input */
input:focus {
  outline: none;
  border-color: #563afae6;
}

/*Estilos para el boton -- Esto es afuera .boton es el padre .btn es el interior*/
.boton {
display: flex;
justify-content: center;
margin-top: 12px;
width: 100%;
}


/* Dentro del botón */
.boton .btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  width: 53%;
  border-radius: 15px;
  border: none;
  padding: 8px;

  background-color: rgba(86, 58, 250, 0.9);
  color: #fff;
}

.btn:hover{
  color: #d6d6d6;
}

/*Estilos para el enlace de registro*/
.registro {
text-align: center;
font-size: 14px;
}

a {
color: #23527c;
text-decoration: none
}

a:hover {
color: #aaa
}

.site-logo {
width: 400px;
height: auto; /*se ajusta la altura de la imagen automaticamente*/
}







/* Medidas para pantallas grandes (desktops) */
@media (min-width: 1024px) {
  .left-column,
  .right-column {
    width: 50%;
  }
}

/* Medidas para tablets y pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .left-column {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: start;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .site-logo{
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .right-column {
      width: 100%;
      height: 40%;
}

}

/* Medidas para pantallas pequeñas (celulares) */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .fauguet {
    width: 30rem; 
  }

  .site-logo{
    width: 200px;
  }

  .right-column {
    order: 2; /* Mueve el right-column arriba */
  }

  .left-column {
    order: 1; /* Mueve el left-column abajo */
  }

  .left-column{
    display: flex;
    align-items: start;
    width: 100%;
    height: 60%;
  }
  

  .right-column {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 768px) {
  .container {
      flex-direction:column-reverse;
  }
}

@media (min-width: 200px) and (max-width: 535px) {
  .fauguet {
      width: 20rem;
  }

  .site-logo{
    width: 200px;
  }
} 