.niñaTuVooz{
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding: 10px;
    margin-top: -22%;
}
.niñoTuVooz{
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */

}
/* Ajustes de imagen para que sean responsive */
.muñeca img, .muñeco img {
    max-width: 100%; /* Asegura que las imágenes no excedan el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
}


.hidden {
    display: none; /* Oculta el elemento */
}