body {
    margin: 0;
}



.nav_menu {
    align-items: center;
    justify-content: right;
    height: 30px;
    display: flex;
    background-color: black;
    color: antiquewhite;
    padding-right: 3rem;
    
}

.nav_menu > div{
    display: flex;
    gap: 1rem;
   
}

.nav_menu2 {
    align-items: center;
    justify-content: left;
    height: 70px;
    display: flex;
    background-color: rgb(73, 0, 122);
    color: white;
    position: sticky;
    
}

.nav_menu2  .dropdown_menu{
    padding-left: 1150px;
}

.seccion{
    display: flex;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid black;
}

.seccion > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
    
}




.menu>li{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    list-style: none;
    width: 200px;
}

.menu>li:hover{
    background-color: #6804CE;
    color: white;
}

.menu >li >a{
    
    color: black;
    text-decoration: none;
    font-size: 20px;
}


.menu >li >a:hover{
    color: white;
    font-size: 21px;
    
    
}

.info{
    display: flex;
    justify-content: left;
    height: 500px;
    background-color: black;
}

.info >.info_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 50px 0 50px;
    width: 600px;
    height: 500px;
    background-color: white;    
}



.info_text > h1{
    padding-bottom: 20px;
}




