body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../img/fondo_iniciar.jpg);
    background-size: cover;
    height: 100vh;
    }
    
    .registroSesion{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 600px;
        background-color: white;
        border-radius: 20px;
    }
    
    .registroSesion h1{
        text-align: center;
        padding-top: 30px;
        
    }
    
    .registroSesion > p{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid black;
    }
    
    .registroSesion form{
        padding: 0 40px;
        box-sizing: border-box;
    }
    
    
    form >h3{
        text-align: center;
        padding-bottom: 10px;
    }
    
    .correoE{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .botonCrearCuenta{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    
    .regresarInicio{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    div.aviso{
        color: white;
        display: flex;
        padding-top: 60px;
        padding-left: 125px;
    }
    
    div.aviso2{
        display: flex;
        justify-content: center;
    
    }
    
    