body{
margin: 0;
padding: 0;
justify-content: center;
display: flex;
align-items: center;
background-image: url(../img/logeo.jpg);
background-size: cover;
height: 100vh;
}

.recuperarC{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}

.recuperarC h1{
    text-align: center;
    padding-top: 30px;
    
}

.recuperarC > p{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}

.recuperarC form{
    padding: 0 40px;
    box-sizing: border-box;
}

form >h6{
    text-align: center;
}

form >p{
    text-align: center;
}

.correoE{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonRecuperar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.regresarInicio{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

