/* inicio de estilos principales de la pagina */
body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 992px) {
    body {
    font-size: 16px;
    }
}

a {
    color: #da1212;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #da1212;
    outline: none;
}

p {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 30px 0;
}

figure {
    margin-bottom: 2.5em;
    float: left;
    width: 100%;
}

::-webkit-selection {
    color: #fff;
    background: #da1212;
}

::-moz-selection {
    color: #fff;
    background: #da1212;
}

::selection {
    color: #fff;
    background: #da1212;
}


#fh5co-page {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* estilos inicio/ etiqueta aside de contenido segundario con el id:fh5co-aside */

#fh5co-aside {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 15%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#fh5co-aside.border {
    border-right: 1px solid #e6e6e6;
}
@media screen and (max-width: 1200px) {
    #fh5co-aside {
    width: 30%;
    }
}
@media screen and (max-width: 768px) {
    #fh5co-aside {
    width: 270px;
    -moz-transform: translateX(-270px);
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    -o-transform: translateX(-270px);
    transform: translateX(-270px);
    }
}
/* inicio/ estilos del logo del menu  */

#fh5co-aside #fh5co-logo {
    text-align: center;
 
}
.imagenMenu{
    width: 75%;
}
/*fin/ estilos del logo del menu  */

/* estilos de las seciones del menu */
#fh5co-aside #fh5co-main-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    #fh5co-aside #fh5co-main-menu ul {
    margin: 0 0 2em 0;
    }
}
#fh5co-aside #fh5co-main-menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
#fh5co-aside #fh5co-main-menu ul li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Montserrat", Arial, sans-serif;
}
/* estilos a la hora de pasar el maus se ponga en negrilla las letras*/
#fh5co-aside #fh5co-main-menu ul li a:hover {
text-decoration: none;
color: black;
}
#fh5co-aside #fh5co-main-menu ul li a:hover:after {
visibility: visible;
-webkit-transform: scaleX(1);
-moz-transform: scaleX(1);
-ms-transform: scaleX(1);
-o-transform: scaleX(1);
transform: scaleX(1);
}

#fh5co-aside .fh5co-footer {
position: absolute;
bottom: 40px;
font-size: 14px;
text-align: center;
width: 100%;
font-weight: 400;
color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
#fh5co-aside .fh5co-footer {
    position: relative;
    bottom: 0;
}
}
/* #fh5co-aside .fh5co-footer span {
display: block;
} */
/* #fh5co-aside .fh5co-footer ul {
padding: 0;
margin: 0;
text-align: center;
} */

#fh5co-aside .fh5co-footer ul li {
padding: 0;
margin: 0;
display: inline;
list-style: none;
}
#fh5co-aside .fh5co-footer ul li a {
color: rgba(0, 0, 0, 0.7);
padding: 4px;
}
#fh5co-aside .fh5co-footer ul li a:hover, #fh5co-aside .fh5co-footer ul li a:active, #fh5co-aside .fh5co-footer ul li a:focus {
text-decoration: none;
outline: none;
color: #da1212;
}

/* inicio de estilos de la pantalla principal del frente con id: fh5co-main */
#fh5co-main {
  width: 85%;
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body.offcanvas {
  overflow-x: hidden;
}
body.offcanvas #fh5co-aside {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 270px;
  background: #fff;
  z-index: 999;
  position: fixed;
}
body.offcanvas #fh5co-main, body.offcanvas .fh5co-nav-toggle {
  top: 0;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
}

.fh5co-services {
  margin-top: 5px;
}
.fh5co-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fh5co-border-bottom {
  border-bottom: 1px solid #f0f0f0;
}

/* estilos del id:fh5co-testimonial */

.fh5co-testimonial {
  padding: 3em 0;
  background: #da1212;
}
@media screen and (max-width: 768px) {
  .fh5co-testimonial {
    padding: 3em 0;
  }
}
.fh5co-testimonial .item {
  color: white;
  padding-left: 3em;
  padding-right: 3em;
}
@media screen and (max-width: 768px) {
  .fh5co-testimonial .item {
    padding-left: 0em;
    padding-right: 0em;
  }
}
.fh5co-testimonial .item figure {
  text-align: center;
}
.fh5co-testimonial .item figure img {
  max-width: inherit;
  width: 90px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-testimonial .item p {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-testimonial .item p {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-testimonial .item p {
    font-size: 20px;
  }
}
.fh5co-testimonial .item .author {
  font-size: 16px;
  display: block;
}

.fh5co-lead {
  font-size: 24px;
  line-height: 1.5;
}

.fh5co-heading-colored {
  color: #da1212;
}

.fh5co-cards {
  padding: 1em 0;
  background: #e6e6e6;
}
@media screen and (max-width: 768px) {
  .fh5co-cards {
    padding: 1em 0;
  }
}
