body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 100%, rgba(86, 58, 250, 0.9) 0%), url("../img/Onda3.jpg");
    background-size: cover;
    position: relative;

    font-family: "Poppins", sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-column, .right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1; /* Hacer que las columnas ocupen todo el espacio disponible */
}

.fauguet {
    border-radius: 20px;
    max-width: 100%;
    padding: 7%;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* Fondo blanco */
    text-align: justify;
    font-size: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-radius: 2px;
    border-bottom: 2px;
    padding: 20px;
}

/* No existe? */
/* .col {
    margin-bottom: 2px;
} */

.form-label {
    display: flex;
    margin-bottom: 10px;
}
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #fff; /* Borde blanco por defecto */
    border-radius: 10px;
    background-color: #e5e4e4;
}
/* incompleto las validaciones */
.error-message {
    color: #dc3545;
    font-size: 0.875em;
    display: none;
}

.is-valid {
    border-color: #28a745 !important; /* Verde para válido */
}

.is-invalid {
    border-color: #dc3545 !important; /* Rojo para inválido */
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.input-group {
    padding-top: 12px;
    padding-bottom: 18px;
}
/* Segundo input */
.input-group:nth-child(2){
    padding-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    align-self: center;
    width: 95%;
    padding: 8px;
    border: 1px solid #ffffff;
    background-color: #e5e4e4;
    border-radius: 10px;
}
/* Asegurarse de que las clases de validación sobrescriban el borde */
input[type="text"].is-valid,
input[type="email"].is-valid,
input[type="password"].is-valid {
    border-color: #28a745 !important; /* Verde para válido */
}

input[type="text"].is-invalid,
input[type="email"].is-invalid,
input[type="password"].is-invalid {
    border-color: #dc3545 !important; /* Rojo para inválido */
}
/* Border externo al hacer click */
input:focus {
    outline: none;
    border-color: #563afae6;
}

/* No existe ⬇️*/
/* .boton {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.boton2 {
    display: flex;
    justify-content: center;
    /* align-items: center; Innecesario */
    padding-top: 24px;
}

button.btn {
    flex: 1; /*Hace que ocupe todo el espacio de su contendor padre (boton2)*/
    padding: 8px;
}

/* No debería ser Submit ⬇️ */
button {
    background-color: rgba(86, 58, 250, 0.9);
    color: #fff;
    border: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
}

.boton2 a{
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.boton2 a:hover{
    text-align: center;
    color: #e2e2e2;
}

a {
    text-align: center;
    text-decoration: none;
    color: #23527c;
}

a:hover {
    text-align: center;
    color: #aaaaaa;
}

/*Estilos del boton de Iniciar Sesion con Google*/
.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-login button {
    position: relative;
    padding: 5px 8px;
    border: none;
    border-radius: 15px;
    /* Añade estas propiedades para centrar el contenido del botón */
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid #a7a7a7;
    background-color: #ffffff;
    display: flex;
}

.google-login button img{
   width: 30px;
   height: auto;
   margin-right: 10px;
}

.google-login button span{
    flex: 1;
    text-align: center;
}

.recordar {
    text-align: end;
    font-weight: 300;
    font-size: small;
}

.registro {
    text-align: center;
    font-size: small;
}

.text_light {
    font-weight: 300;
}

/* No existe? ⬇️ */
/* .aviso {
    text-align: center;
}

.aviso img {
    max-width: 150px;
} */

.right-column{
    flex: 1;
    display: flex;
    justify-content: center; /*centra horizontalmete la imagen*/
    align-items: center; /*centra verticalmentela imagen*/
    padding: 20px; /*se agrega espacio alrededor de la imagen*/
}

.site-logo {
    max-width: 50%;
    height: auto; /*se ajusta la altura de la imagen automaticamente*/
    padding-right: 15%;
}