/* DEFINICION DE VARIABLES DE CSS  */
:root {
    /* modo predeterminado */
    --background-color: #ffffff;
    --h1-color:#000000;
    --h2-color:#000000;
    
    /* --color-h1: #ffffff;
    --color-h1: #000000;
    --color-h2:#000000;
    --color-h2:#ffffff; */

}

/* Estilos para el modo claro */
body.oscuro{

    background-color:var(--background-color) ;
    color: var(--h1-color);

    /* color: var(--color-p); */
     
}
body{
    background-color:var(--background-color) ;
    color:var('--h1-color-claro');

}
