:root {
    /* Variables de Modo Claro */
    --light-background-color: #ffffff;
    --light-text-color: #000000;
    --light-input-background: #f1f1f1; /* Fondo de los campos de entrada en modo claro */
    --light-h1-color: #5128b3;  /* Color específico para H1 en modo claro */
    
  
    /* Variables de Modo Oscuro */
    --dark-background-color: #121212;
    --dark-text-color: #dfdada;
    --dark-input-background: #333333; /* Fondo de los campos de entrada en modo oscuro */
    --dark-h1-color: #dfdada;  /* Color específico para H1 en modo oscuro */
      
    /* Variables de Tema Activo (Por Defecto el Modo Claro) */
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
    --input-background: var(--light-input-background);
    --h1-color: var(--light-h1-color); /* Nueva variable para color de H1 */
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  h1 {
    color: var(--h1-color); /* Uses the dedicated variable for H1 color */
  }
  
  h2, h3, p {
    color: var(--text-color);
  }
  
  input,
  textarea {
    background-color: var(--input-background);
    color: var(--input-text-color);
    border: 1px solid #ddd; /* Borde opcional */
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Estilo de Modo Oscuro */
  body.dark-mode {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --input-background: var(--dark-input-background);
    --h1-color: var(--dark-h1-color); /* Update H1 color for dark mode */
  }
